*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@300&family=Oswald&display=swap');

$colorprincipal: #9b2295;
$colorsecundario:#13b3c1;
$color1transp: #13b3c1b4;
$colortitulo1: #2a2f30;
$colortitulo2: #13b3c1;
$colortextobody: #000;
$colorfondoprincipal: white;
$fonttitulos:'Bebas Neue', cursive;
$fontsub: 'Oswald', sans-serif;
$fontbody: 'Inter', sans-serif;

.navbar{
    background-color: $colorprincipal;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
}
.pie{
    background-color: $colorprincipal;
    color: white;
    font-size: 20px;
    padding: 10px;
    margin: 0;
    text-align: center;
}
.redes i{
    background-color: $colorprincipal;
    text-align: center;
    color: white;
    font-size: 30px;
    transition: all 0.7s;
}
.redes i:hover{
    color: $colorsecundario;
    cursor: pointer;
    transform: translateY(-20px);
    transition: all 0.7s;
}
::selection{
    background-color: $colorsecundario;
    color: $colorprincipal;
}
::-webkit-scrollbar-track{
    box-shadow: inset 0 0 6px #333;
    border-radius: 3px;
    background-color: whitesmoke;
}
::-webkit-scrollbar{
    width: 15px;
    background-color: whitesmoke;
}
::-webkit-scrollbar-thumb{
    border-radius: 3px;
    box-shadow: inset 0 0 6px #333;
    background-color: $colorsecundario ;
}
.subir{
    height: 40px;
    width: 40px;
    background-color: $colorsecundario;
    position: fixed;
    bottom: 40px;
    right: 40px;
    text-align: center;
    font-size: 27px;
    line-height: 40px;
    color: whitesmoke;
    border:3px solid whitesmoke;
    border-radius: 50%;
    box-shadow: 0 0 5px #fff;
}
.jumbotron{
    background-image: url(/multimedia/banner.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 0;
    margin-bottom: 0;
    & h1{
        text-shadow: 0 0 5px #333;
        color: $colortitulo1;
        font-family: $fonttitulos;
    }
    p{
        text-shadow: 0 0 5px #333;
        color: $colortextobody;
        font-size: 20px;
        font-family: $fontbody; 
    }
    button{
        background-color: $colorprincipal;
        border: $colorprincipal;
    }
}
.banner2{
    background-image: url(/multimedia/banner2.jpg);
    background-size: cover;
    background-position: center;
    padding: 50px;
    p{
    text-align: center;
    color: $colortitulo2;
    font-size: 30px;
    }
}
.item{
    padding: 10px;
    display: inline-block;
    text-align: center;
    img{
        width: 100px;
        height: auto;
    }
    h4{
        color: $colorsecundario;
        text-align: center;
        font-family:$fontsub;
    }
    p{
        color: $colortextobody;
        text-align: center;
        font-family: $fontbody;
    }
}
.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    text-align: center;
    padding: 30px;
}
.imagenes{
    img{
        width: 350px;
        justify-content: center;
    }
}
.carousel-indicators {
    li{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    border: 2px solid $colorsecundario;
    background-color: $color1transp;
    }
}
.carousel-control-prev-icon{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 2px solid #13b3c1;
    background-color: #13b3c1ad;
}
.carousel-control-next-icon{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 2px solid #13b3c1;
    background-color: #13b3c1ad;
}