*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@300&family=Oswald&display=swap');

/*font-family: 'Bebas Neue', cursive;
font-family: 'Inter', sans-serif;
font-family: 'Oswald', sans-serif;*/

.navbar{
    background-color: #9b2295;
    z-index: 99;
    width: 100%;
}
body {
    overflow-x: hidden;
 }
.jumbotron{
    background-image: url(multimedia/banner.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 0;
    margin-bottom: 0;
}
.jumbotron h1{
    text-shadow: 0 0 5px #333;
    color: #2a2f30;
    font-family:'Bebas Neue', cursive;
}
.jumbotron p{
    text-shadow: 0 0 5px #333;
    color: #000;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
}
.jumbotron button{
    background-color: #9b2295ba;
    border: #9b2295;
}
.servicios{
    background-color: white;
}
.item{
    color: #9b2295;
    padding: 10px;
    display: inline-block;
    text-align: center;

}
.item img{
    width: 100px;
    height: auto;
}
.item h4{
    color: #13b3c1;
    text-align: center;
    font-family:'Oswald', sans-serif;
}
.item p{
    color: #000;
    text-align: center;
    font-family: 'Inter', sans-serif;
}

.pie{
    background-color: #9b2295;
    color: white;
    font-size: 20px;
    padding: 10px;
    margin: 0;
    text-align: center;
}
.redes i{
    background-color: #9b2295;
    text-align: center;
    color: white;
    font-size: 30px;
    transition: all 0.7s;
}
.redes i:hover{
    color: #13b3c1;
    cursor: pointer;
    transform: translateY(-20px);
    transition: all 0.7s;
}
::selection{
    background-color: #13b3c1;
    color: #9b2295;
}
::-webkit-scrollbar-track{
    box-shadow: inset 0 0 6px #333;
    border-radius: 3px;
    background-color: whitesmoke;
}
::-webkit-scrollbar{
    width: 15px;
    background-color: whitesmoke;
}
::-webkit-scrollbar-thumb{
    border-radius: 3px;
    box-shadow: inset 0 0 6px #333;
    background-color:#13b3c1ba ;
}