@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@300&family=Oswald&display=swap');

$colorprincipal: #9b2295;
$colorsecundario:#13b3c1;
$colortitulo1: #000;
$colortitulo2: #13b3c1;
$colorfondoprincipal: white;
$fonttitulos:v'Bebas Neue', cursive;
$fontsub: 'Oswald', sans-serif;
$fontbody: 'Inter', sans-serif;
