.pie{
    background-color: #9b2295;
    color: white;
    font-size: 20px;
    padding: 10px;
    margin: 0;
    text-align: center;
    .redes i{
        background-color: #9b2295;
        text-align: center;
        color: white;
        font-size: 30px;
        transition: all 0.7s;
        i:hover{
            color: #13b3c1;
            cursor: pointer;
            transform: translateY(-20px);
            transition: all 0.7s;
        }
        ::selection{
            background-color: #13b3c1;
            color: #9b2295;
        }
        }
    }
