.subir{
    height: 40px;
    width: 40px;
    background-color: #13b3c1;
    position: fixed;
    bottom: 40px;
    right: 40px;
    text-align: center;
    font-size: 27px;
    line-height: 40px;
    color: whitesmoke;
    border:3px solid whitesmoke;
    border-radius: 50%;
    box-shadow: 0 0 5px #fff;
}
::-webkit-scrollbar-track{
    box-shadow: inset 0 0 6px #333;
    border-radius: 3px;
    background-color: whitesmoke;
}
::-webkit-scrollbar{
    width: 15px;
    background-color: whitesmoke;
    scrollbar-thumb{
        border-radius: 3px;
        box-shadow: inset 0 0 6px #333;
        background-color:#13b3c1ba ;
    }
}
